/* Estilos header */
body {
    background-color: #30353f;
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #191f2b;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boton-nav {
    background-color: #191f2b;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.boton-nav:hover {
    background-color: #303b52;
}

/* Estilos main */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenedor-meme {
    height: 500px;
    width: 500px;
    background-color: black;
    padding: 0;
    margin: 20px;
    align-items: stretch;
}

.texto-superior, .texto-inferior {
    background-color: white;
    color: black;
    padding: 20px 5px;
    text-align: center;
    margin: 0;
}

.contenedor-imagen {
    height: 375px;
}


.boton-descargar-imagen {
    background-color: #2b5f3c;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    
}

.boton-descargar-imagen:hover {
    background-color: #3a8152;
}

/* Estilos filtro imagen */

.contenedor-panel-imagen {
    height: 100%;
    width: 300px;
    padding: 10px;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    position: absolute;
}

h2 {
    text-align: center;
}

.panel-imagen-contenedor-filtros {
    display: flex;
    flex-direction: column;
}