body {
    background-color: #30353f;
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #191f2b;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boton-nav {
    background-color: #191f2b;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.boton-nav:hover {
    background-color: #303b52;
}