/* Estilos header */
body {
    background-color: #eeeeee;
    color: #424242;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    width: 100%;
}

.header {
    background-color: #e0e0e0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boton-nav {
    background-color: #e0e0e0;
    color: #424242;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.boton-nav:hover {
    background-color: rgb(158, 158, 158);
}


/* Estilos Input */

.input-select {
    background-color: #e0e0e0;
    color: #424242;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    border: none;
    
}

.input-color {
    border-radius: 80px;
    margin-right: 10px;
    height: 20px;
    width: 20px;
    border: none;
    outline: none;
    background-color: transparent;
}

.input-range {
    background-color: #e0e0e0;
    color: white;
    width: 100%;
    border-radius: 10px;
    height: 5px;
}

.input-number {
    background-color: #e0e0e0;
    color: #424242;
    border-radius: 5px;
    border: none;
    width: 100%;
}

.input-color::-webkit-color-swatch-wrapper {
    padding: 0; 
}

.input-color::-webkit-color-swatch {
    border: none;
    border-radius: 100%;
}

/* Estilos en general */

h2 {
    font-size: 18px;
    text-align: center;
}

h3 {
    font-size: 14px;
}

main {
    width: 100%;
}

.paneles-icono-cerrar {
    margin: 0;
    text-align: end;
    display: none;
}

@media screen and (max-width: 600px) {
    .paneles-icono-cerrar {
        display: block;
    }

    h1 {
        text-align: center;
    }
}


/* Estilos canvas */


.contenedor-canvas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-meme {
    height: 500px;
    width: 500px;
    background-color: black;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.texto-superior, .texto-inferior {
    background-color: white;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 2.5;
    text-align: center;
    margin: 0;
}


.contenedor-imagen {
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.imagen {
    overflow: hidden;
}



.boton-descargar-imagen {
    background-color: #2b5f3c;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    
}

.boton-descargar-imagen:hover {
    background-color: #3a8152;
}

@media screen and (max-width: 600px) {
    .contenedor-meme {
        width: 300px;
        height: 300px;
    }
}

/* Estilos panel imagen */

.contenedor-panel-imagen {
    width: 250px;
    height: 100%;
    overflow: scroll;
    padding: 10px 30px;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
}


.panel-imagen-input-url {
    border: none;
    width: 100%;
    height: 30px;
    background-color: #e0e0e0;
    border-radius: 5px;
}

.panel-imagen-contenedor-fondo {
    display: flex;
}

.panel-imagen-contenedor-fondo-color, .panel-imagen-contenedor-fondo-mezcla  {
    background-color: #e0e0e0;
    height: 25px;
    width: 50%;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.panel-imagen-contenedor-filtros {
    display: flex;
    flex-direction: column;
}

.label-filtros {
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.boton-restablecer-filtros {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
    background-color: #e0e0e0;
    color: #424242;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.boton-restablecer-filtros:hover {
    background-color: rgb(158, 158, 158);
}

@media screen and (max-width: 600px) {
    .contenedor-panel-imagen {
        display: none;
        position: absolute;
        left: 0;

        
    }
}


/* Estilos panel texto */

.contenedor-panel-texto {
    width: 250px;
    overflow: scroll;
    padding: 10px 30px;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
}

.panel-texto-superior-inferior {
    display: flex;
    flex-direction: column;
}
.input-texto-inferior, .input-texto-superior {
    border: none;
    width: 100%;
    height: 40px;
    background-color: #e0e0e0;
    border-radius: 5px;
}

.label-input-texto {
    font-size: 12px;
    margin-top: 10px;
}

.panel-texto-fuente {
    display: flex;
    flex-direction: column;
}

#resultado-color-texto {
    margin: 0;
}

#resultado-color-fondo-texto {
    margin: 0;
}

.panel-texto-color {
    display: flex;
}

.panel-texto-color-contenedor {
    background-color: #e0e0e0;
    width: 90px;
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 5px;
    margin-right: 10px;
    display: flex;
}

.input-tamanio-fuente {
    width: 75px;
    padding: 10px;
}

.botones-panel-texto {
    margin-left: 5px;
    background-color: #e0e0e0;
    color: #424242;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
}

.botones-panel-texto:hover {
    background-color: rgb(158, 158, 158);
}

.input-select-fuente {
    padding: 10px;
}

.input-espaciado {
    height: 30px;
}

.input-interlineado {
    width: 100%;
    height: 30px;
}

@media screen and (max-width: 600px) {
    .contenedor-panel-texto {
        display: none;
        position: absolute;
        left: 0;
    }
}


/* Clases para JS */
.modo-oscuro-gris-oscuro {
    background-color: #191f2b;
    color: white;
}

.modo-oscuro-gris-medio {
    background-color: #252a35;
    color: white;
}

.modo-oscuro-gris-claro {
    background-color: #30353f;
    color: white;
}
